<% new_event = !life_event.persisted? %>

<script type="template" id="<%= new_event ? 'new-life-event-modal-template' : 'life-event-modal-template' %>">
  <div id="modal-life-event" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <%= t(new_event ? :new_life_event : :edit_life_event) %>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="<%= t :life_event %>..." value="<%= life_event.title %>">
          </div>
          <div class="form-group">
            <% url = life_event.web_links.first&.url %>
            <input type="text" name="url" class="form-control" placeholder="<%= t :url %>..." value="<%= url %>">
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <input type="text" name="from_date" class="form-control datepicker-orient-bottom" data-provide="datepicker" placeholder="<%= t :from %>..." value="<%= life_event.from_date&.strftime('%m/%d/%Y') %>">
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <input type="text" name="to_date" class="form-control datepicker-orient-bottom" data-provide="datepicker" placeholder="<%= t :to %>..." value="<%= life_event.to_date&.strftime('%m/%d/%Y') %>">
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <% views = life_event.views.all.order(:created_at) %>
                <% primary_view = views[0] %>
                <select name="view" class="form-control">
                  <option selected disabled data-placeholder="true"><%= t :view %>...</option>
                  <% RoleCategory.all.find_each do |role_category| %>
                    <option value="<%= role_category.id %>" <%= 'selected' if primary_view&.label == role_category.id %>><%= role_category.short_name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <% secondary_view = views[1] %>
                <select name="secondary_view" class="form-control">
                  <option selected disabled data-placeholder="true"><%= t :secondary_view %>...</option>
                  <% RoleCategory.all.find_each do |role_category| %>
                    <option value="<%= role_category.id %>" <%= 'selected' if secondary_view&.label == role_category.id %>><%= role_category.short_name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <input type="checkbox" name="prototype" id="prototype-checkbox" <%= 'checked' if life_event.prototype? %>>
              <label for="prototype-checkbox"><%= t(:prototype) %></label>
            </div>
            <div>
              <input type="checkbox" name="show_in_annual_view" id="show-in-annual-view-checkbox" <%= 'checked' if life_event.show_in_annual_view? %>>
              <label for="show-in-annual-view-checkbox"><%= t(:show_in_annual_view) %></label>
            </div>
          </div>
          <div class="form-group">
            <textarea name="description" class="form-control">
              <%= life_event.description %>
            </textarea>
          </div>
        </div>
        <div class="modal-footer">
          <% unless new_event %>
            <button type="button" class="btn btn-danger delete">
              <%= t :Delete %>
            </button>
          <% end %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <%= t :close %>
          </button>
          <button type="button" class="btn btn-primary" name="save"><%= t :save %></button>
        </div>
      </div>
    </div>
  </div>
</script>

<div id="delete-life-event-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div><strong>Are you sure you want to delete this life event?</strong></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger confirm">Yes, Delete</button>
      </div>
    </div>
  </div>
</div>

<div id="life-event-modal-content"></div>

<%#= content_for :footer do %>
  <script>
    function initLifeEventModal(id) {
      const calendarOptions = {
        header: { center: 'month,year' },
        views: { month: { titleFormat: 'MM/DD/YYYY' } }
      };

      const $lifeEventModalTemplate = $(id ? '#life-event-modal-template' : '#new-life-event-modal-template');
      const $lifeEventContent = $('#life-event-modal-content');
      $lifeEventContent.html($lifeEventModalTemplate.html());

      const $lifeEventModal = $('#modal-life-event');
      const $title = $('#modal-life-event input[name=title]');
      const $url = $('#modal-life-event input[name=url]');
      const $fromDate = $('#modal-life-event input[name=from_date]');
      const $toDate = $('#modal-life-event input[name=to_date]');
      const $view = $('#modal-life-event select[name=view]');
      const $secondaryView = $('#modal-life-event select[name=secondary_view]');
      const $prototype = $('#modal-life-event input[name=prototype]');
      const $showInAnnualView = $('#modal-life-event input[name=show_in_annual_view]');
      const $description = $('#modal-life-event textarea[name=description]');
      const $save = $('#modal-life-event button[name=save]');
      const $lifeEventDelete = $lifeEventModal.find('button.delete');
      const $deleteModal = $('#delete-life-event-modal');

      $fromDate.fullCalendar(calendarOptions);
      $toDate.fullCalendar(calendarOptions);

      $description.summernote({
        height: 200,
        width: '100%',
        toolbar: [['style', ['bold', 'italic', 'underline', 'clear']],
          ['font', ['strikethrough', 'superscript', 'subscript']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']]]
      });

      // $lifeEventModal.on('show.bs.modal', () => {
      //   setTimeout(() => { $title.focus(); }, 500);
      // });

      id = id || '';
      const url = `<%= life_event_index_path %>/${id}`;
      const method = id ? 'PUT' : 'POST';

      $lifeEventDelete.click(function() {
        $deleteModal.modal('show');
        $deleteModal.find('button.confirm').click(() => {
          ajax({
            url: url,
            method: 'DELETE',
            success: data => {
              console.log(data);
              location.reload();
            },
            error: alert
          });
        });
      });

      $save.click(function() {
        $save.attr('disabled', true);
        ajax({
          url: url,
          method: method,
          dataType: 'json',
          data: {
            title: $title.val(),
            from_date: $fromDate.val(),
            to_date: $toDate.val(),
            view: $view.val(),
            secondary_view: $secondaryView.val(),
            description: $description.val(),
            url: $url.val(),
            prototype: $prototype.is(':checked'),
            show_in_annual_view: $showInAnnualView.is(':checked')
          },
          success: event => {
            location.reload();
          },
          error: err => {
            console.error(err);
            $save.attr('disabled', false);
          }
        });
      });
    }
  </script>
<%# end %>
