<script type="template" id="goal-template">
  <div id="modal-goal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{= goal.id ? '<%= t :edit_goal %>' : '<%= t :new_goal %>' }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input name="title" type="text" class="form-control" placeholder="<%= t :goal %>..." value="{{= goal.text || '' }}">
          </div>
          <div class="row">
            <div class="col-md">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="term" value="short" autocomplete="off" checked>
                  <%= t :short_term %>
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="term" autocomplete="off" value="long">
                  <%= t :long_term %>
                </label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <input type="text" name="goal_date" class="form-control datepicker-orient-bottom" data-provide="datepicker" placeholder="📅 <%= t :goal_time_frame %>..." value="{{= goal.goal_date || '' }}">
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <select name="view" class="form-control selectize">
                  <option selected disabled data-placeholder="true"><%= t :select_view %>...</option>
                  <% RoleCategory.all.find_each do |role_category| %>
                    <option value="<%= role_category.id %>" {{= goal.view === '<%= role_category.id %>' ? 'selected' : '' }}><%= role_category.short_name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input class="selectize" type="text" name="tags" value="{{= goal.tags ? goal.tags.join(' ') : '' }}">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="description">
              {{- goal.description ? goal.description : '' }}
            </textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" name="save"><%= t :save %></button>
        </div>
      </div>
    </div>
  </div>
</script>

<div id="goal-modal-content"></div>

<%= content_for :footer do %>
  <script>
    function showGoalModal(goal) {
      const $goalTemplate = $('#goal-template');
      const $goalModalContent = $('#goal-modal-content');

      goal = goal || {};
      $goalModalContent.html(_.template($goalTemplate.html())({ goal: goal }));
      if (goal.term) {
        $(`#modal-goal input[name=term][value=${goal.term}]`).click();
      }

      const $goalModal = $('#modal-goal');
      const $goalTitle = $('#modal-goal input[name=title]');
      const $goalDate = $('#modal-goal input[name=goal_date]');
      const $goalView = $('#modal-goal select[name=view]');
      const $goalTags = $('#modal-goal input[name=tags]');
      const $goalDescription = $('#modal-goal textarea[name=description]');
      const $saveButton = $('#modal-goal button[name=save]');


      $goalDate.fullCalendar({
        header: { center: 'month,year' },
        views: {
          month: {
            titleFormat: 'MM/DD/YYYY'
          }
        }
      });

      $goalTags.selectize({
        delimiter: ' ',
        loadThrottle: 100,
        valueField: 'label',
        labelField: 'label',
        searchField: 'label',
        createOnBlur: true,
        create: true,
        placeholder: '<%= t :tags %>...',
        load: (query, callback) => {
          if (!query.length) return callback();
          $.ajax({
            url: `<%= autocomplete_tags_path %>?q=${encodeURIComponent(query)}`,
            method: 'GET',
            error: () => {
              console.error('selectize error!');
              callback();
            },
            success: res => {
              console.log(res);
              callback(res);
            }
          });
        }
      });

      $goalDescription.summernote({
        height: 200,
        width: '100%',
        toolbar: [['style', ['bold', 'italic', 'underline', 'clear']],
          ['font', ['strikethrough', 'superscript', 'subscript']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']]]
      });

      $saveButton.click(function () {
        ajax({
          url: `<%= goal_index_path %>${goal.id ? `/${goal.id}` : ''}`,
          method: goal.id ? 'PUT' : 'POST',
          dataType: 'json',
          data: {
            text: $goalTitle.val(),
            term: $('#modal-goal input[name=term]:checked').val(),
            goal_date: $goalDate.val(),
            tags: $goalTags.val(),
            view: $goalView.val(),
            description: $goalDescription.val()
          },
          success: () => {
            console.log('Yay!');
            $goalModal.modal('hide');
          },
          error: err => {
            console.error(err);
          }
        });
      });

      $goalModal.modal('show');
      setTimeout(() => { $goalTitle.focus(); }, 500);
    }
  </script>
<% end %>
