<% new_goal = !goal.persisted? %>

<script type="template" id="<%= new_goal ? 'new-goal-template' : 'goal-template' %>">
  <div id="modal-goal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <%= t(new_goal ? :new_goal : :edit_goal) %>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input name="title" type="text" class="form-control" placeholder="<%= t :goal %>..." value="<%= goal.text %>">
          </div>
          <div class="row">
            <div class="col-md">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary <%= 'active' if (goal.term == 'short' || new_goal) %>">
                  <input type="radio" name="term" value="short" autocomplete="off" <%= 'checked' if (goal.term == 'short' || new_goal) %>>
                  <%= t :short_term %>
                </label>
                <label class="btn btn-secondary <%= 'active' if goal.term == 'long' %>">
                  <input type="radio" name="term" autocomplete="off" value="long" <%= 'checked' if goal.term == 'long' %>>
                  <%= t :long_term %>
                </label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <input type="text" name="goal_date" class="form-control datepicker-orient-bottom" data-provide="datepicker" placeholder="📅 <%= t :goal_time_frame %>..." value="<%= goal.goal_date&.strftime '%m/%d/%Y' %>">
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <% view = goal.views.first %>
                <select name="view" class="form-control selectize">
                  <option selected disabled data-placeholder="true"><%= t :select_view %>...</option>
                  <% RoleCategory.all.find_each do |role_category| %>
                    <option value="<%= role_category.id %>" <%= 'selected' if view&.label == role_category.id %>><%= role_category.short_name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <% tags = goal.tags.map(&:label).join ' ' %>
            <input class="selectize" type="text" name="tags" value="<%= tags %>">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="description">
              <%= goal.description %>
            </textarea>
          </div>
        </div>
        <div class="modal-footer">
          <% unless new_goal %>
            <button type="button" class="btn btn-danger delete">
              <%= t :Delete %>
            </button>
          <% end %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <%= t :close %>
          </button>
          <button type="button" class="btn btn-primary" name="save"><%= t :save %></button>
        </div>
      </div>
    </div>
  </div>
</script>

<div id="delete-goal-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div><strong>Are you sure you want to delete this goal?</strong></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger confirm">Yes, Delete</button>
      </div>
    </div>
  </div>
</div>

<div id="goal-modal-content"></div>

<%= content_for :footer do %>
  <script>
    function initGoalModal(id) {
      const $goalTemplate = $(id ? '#goal-template' : '#new-goal-template');
      const $goalModalContent = $('#goal-modal-content');
      $goalModalContent.html($goalTemplate.html());

      const $goalModal = $('#modal-goal');
      const $goalTitle = $('#modal-goal input[name=title]');
      // const $goalTerm = $('#modal-goal input[name=term]');
      const $goalDate = $('#modal-goal input[name=goal_date]');
      const $goalView = $('#modal-goal select[name=view]');
      const $goalTags = $('#modal-goal input[name=tags]');
      const $goalDescription = $('#modal-goal textarea[name=description]');
      const $saveButton = $('#modal-goal button[name=save]');
      const $goalDelete = $goalModalContent.find('button.delete');
      const $deleteModal = $('#delete-goal-modal');


      $goalDate.fullCalendar({
        header: { center: 'month,year' },
        views: {
          month: {
            titleFormat: 'MM/DD/YYYY'
          }
        }
      });

      $goalTags.selectize({
        delimiter: ' ',
        loadThrottle: 100,
        valueField: 'label',
        labelField: 'label',
        searchField: 'label',
        createOnBlur: true,
        create: true,
        placeholder: '<%= t :tags %>...',
        load: (query, callback) => {
          if (!query.length) return callback();
          $.ajax({
            url: `<%= autocomplete_tags_path %>?q=${encodeURIComponent(query)}`,
            method: 'GET',
            error: () => {
              console.error('selectize error!');
              callback();
            },
            success: res => {
              console.log(res);
              callback(res);
            }
          });
        }
      });

      $goalDescription.summernote({
        height: 200,
        width: '100%',
        toolbar: [['style', ['bold', 'italic', 'underline', 'clear']],
          ['font', ['strikethrough', 'superscript', 'subscript']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']]]
      });

      $goalModal.on('show.bs.modal', () => {
        setTimeout(() => { $goalTitle.focus(); }, 500);
      });

      id = id || '';
      const url = `<%= goal_index_path %>/${id}`;
      const method = id ? 'PUT' : 'POST';

      $saveButton.click(function () {
        ajax({
          url: url,
          method: method,
          dataType: 'json',
          data: {
            title: $goalTitle.val(),
            term: $('#modal-goal input[name=term]:checked').val(),
            goal_date: $goalDate.val(),
            tags: $goalTags.val(),
            view: $goalView.val(),
            description: $goalDescription.val()
          },
          success: () => {
            location.reload();
          },
          error: err => {
            console.error(err);
          }
        });
      });

      $goalDelete.click(function() {
        $deleteModal.modal('show');
        $deleteModal.find('button.confirm').click(() => {
          ajax({
            url: url,
            method: 'DELETE',
            success: data => {
              console.log(data);
              location.reload();
            },
            error: alert
          });
        });
      });
    }
  </script>
<% end %>
