<script type="template" id="note-template">
  <div id="modal-note" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <%= t :new_note %>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
<!--            <label for="note-title">-->
              <%#= t :title %>
<!--            </label>-->
            <input class="form-control" type="text" name="title" id="note-title" placeholder="<%= t :title %>..." value="<%= note.title %>">
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <% views = note.views.all.order(:created_at) %>
                <% primary_view = views[0] %>
                <select id="primary-view-select" name="primary_view" class="form-control selectize">
                  <option selected disabled data-placeholder="true"><%= t :primary_view %>...</option>
                  <% RoleCategory.all.find_each do |role_category| %>
                    <option value="<%= role_category.id %>" <%= 'selected' if primary_view && primary_view.label == role_category.id %>><%= role_category.short_name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <% secondary_view = views[1] %>
                <select id="secondary-view-select" name="secondary_view" class="form-control selectize">
                  <option selected disabled data-placeholder="true"><%= t :secondary_view %>...</option>
                  <% RoleCategory.all.find_each do |role_category| %>
                    <option value="<%= role_category.id %>" <%= 'selected' if secondary_view && secondary_view.label == role_category.id %>><%= role_category.short_name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <select class="form-control" name="note_type" id="note-type">
                  <option selected disabled data-placholder="true"><%= t :note_type %>...</option>
                  <% Note::TYPES.each do |note_type| %>
                    <option value="<%= note_type %>" <%= 'selected' if note.note_type == note_type %>><%= note_type %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <% note_learning_type = note.learning_types.first %>
                <select class="form-control" name="learning_type" id="learning-type">
                  <option selected disabled data-placholder="true"><%= t :learning_type %>...</option>
                  <% LearningType::TYPES.each do |learning_type| %>
                    <option value="<%= learning_type %>" <%= 'selected' if note_learning_type && note_learning_type.label == learning_type %>><%= learning_type %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
              <% tags = note.tags.map(&:label).join ' ' %>
              <input id="note-tags" class="selectize" type="text" name="tags" value="<%= tags %>">
            </div>
          </div>
<!--          <div class="form-group">-->
<!--            <label for="note-views"><%#= t :urls %></label>-->
<!--            <input class="selectize" type="text" name="urls" id="note-urls">-->
<!--          </div>-->
          <div class="form-group">
<!--            <label for="note-content"><%#= t :content %></label>-->
<!--            <div>-->
<!--              <a class="toggle-controls" href="#">Toggle Controls</a>-->
<!--            </div>-->
            <textarea id="note-content" class="form-control">
              <%= note.text %>
            </textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger delete">
            <%= t :Delete %>
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <%= t :close %>
          </button>
          <button id="note-submit" type="button" class="btn btn-primary">
            <%= t :save %>
          </button>
        </div>
      </div>
    </div>
  </div>
</script>

<div id="delete-note-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div><strong>Are you sure you want to delete this note?</strong></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger confirm">Yes, Delete</button>
      </div>
    </div>
  </div>
</div>

<div id="note-modal-content"></div>

<%#= content_for :footer do %>
  <script>
    function initNoteModal(id) {
      const $noteTemplate = $('#note-template');
      const $noteModalContent = $('#note-modal-content');
      $noteModalContent.html($noteTemplate.html());

      const $note = $('#note-content');
      const $primaryView = $('#primary-view-select');
      const $secondaryView = $('#secondary-view-select');
      const $noteType = $('#note-type');
      const $noteTags = $('#note-tags');
      const $noteModal = $('#modal-note');
      const $noteTitle = $('#note-title');
      const $noteSubmit = $('#note-submit');
      const $noteDelete = $noteModalContent.find('button.delete');
      const $deleteModal = $('#delete-note-modal');
      const $learningType = $('#learning-type');
      const csrfToken = $('meta[name="csrf-token"]').attr('content');

      id = id || '';
      const url = `<%= note_index_path %>/${id}`;

      $noteDelete.click(function() {
          $deleteModal.modal('show');
          $deleteModal.find('button.confirm').click(() => {
            ajax({
              url: url,
              method: 'DELETE',
              success: data => {
                console.log(data);
                location.reload();
              },
              error: alert
            });
          });
      });

      const method = id ? 'PUT' : 'POST';

      $noteSubmit.click(() => {
        $noteSubmit.attr('disabled', true);
        $.ajax({
          url: url,
          method: method,
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', csrfToken)},
          dataType: 'json',
          data: {
            title: $noteTitle.val(),
            view: $primaryView.val(),
            tags: $noteTags.val(),
            note: $note.val(),
            primary_view: $primaryView.val(),
            secondary_view: $secondaryView.val(),
            note_type: $noteType.val(),
            learning_type: $learningType.val()
          },
          success: () => {
            $noteModal.modal('hide');
            $noteModal.on('hidden.bs.modal', initNoteModal);
          },
          error: err => {
            console.error(`submit error: ${JSON.stringify(err)}`);
          }
        });
      });

      $noteModal.on('show.bs.modal', () => {
        setTimeout(() => { $noteTitle.focus(); }, 500);
      });

      $noteTags.selectize({
        delimiter: ' ',
        loadThrottle: 100,
        valueField: 'label',
        labelField: 'label',
        searchField: 'label',
        createOnBlur: true,
        create: true,
        placeholder: '<%= t :tags %>...',
        load: (query, callback) => {
          if (!query.length) return callback();
          $.ajax({
            url: `<%= autocomplete_tags_path %>?q=${encodeURIComponent(query)}`,
            method: 'GET',
            error: () => {
              console.error('selectize error!');
              callback();
            },
            success: res => {
              console.log(res);
              callback(res);
            }
          });
        }
      });

      $note.summernote({
        height: 200,
        width: '100%',
        toolbar: [['style', ['bold', 'italic', 'underline', 'clear']],
          ['font', ['strikethrough', 'superscript', 'subscript']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']]]
      });
    }
  </script>
<%# end %>
