<table class="table table-striped">
  <thead>
  <th><%= t :title %></th>
  <th><%= t :views %></th>
  <th><%= t :tags %></th>
  </thead>
  <% notes.each do |note| %>
    <tr>
      <td>
        <a href="javascript:" class="note" data-id="<%= note.id %>"><%= note.title %></a>
      </td>
      <td>
        <%= note.views.map(&:short_name).join ', ' %>
      </td>
      <td>
        <%= note.tags.map(&:label).join ', ' %>
      </td>
    </tr>
  <% end %>
</table>
