<div class="header navbar">
  <div class="header-container">
    <ul class="nav-left">
      <li>
        <a class="side-nav-toggle" href="javascript:void(0);">
          <i class="ti-view-grid"></i>
        </a>
      </li>
      <li class="search-box">
        <a class="search-toggle no-pdd-right" href="javascript:void(0);">
          <i class="search-icon ti-search pdd-right-10"></i>
          <i class="search-icon-close ti-close pdd-right-10"></i>
        </a>
      </li>
      <li class="search-input">
        <input class="form-control" type="text" placeholder="Search...">
        <div class="advanced-search">
          <div class="search-wrapper">
          </div>
          <div class="search-footer">
            <span>You are Searching for '<b class="text-dark"><span class="serach-text-bind"></span></b>'</span>
          </div>
        </div>
      </li>
    </ul>
    <ul class="nav-right">
      <li class="user-profile dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <img class="profile-img img-fluid" src="/assets/profile.svg" alt="">
          <div class="user-info">
            <span class="name pdd-right-5"><%= current_user.full_name %></span>
            <i class="ti-angle-down font-size-10"></i>
          </div>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="<%= profile_path %>">
              <i class="ti-user pdd-right-10"></i>
              <span><%= t :profile %></span>
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a data-method="DELETE" href="<%= destroy_user_session_url %>">
              <i class="ti-power-off pdd-right-10"></i>
              <span><%= t :logout %></span>
            </a>
          </li>
        </ul>
      </li>
<!--      <li class="notifications dropdown">-->
<!--        <span class="counter"></span>-->
<!--        <a href="" class="dropdown-toggle" data-toggle="dropdown">-->
<!--          <i class="ti-bell"></i>-->
<!--        </a>-->

<!--        <ul class="dropdown-menu ">-->
<!--          <li class="notice-header">-->
<!--            <i class="ti-bell pdd-right-10"></i>-->
<!--            <span><%#= t :notifications %></span>-->
<!--          </li>-->
<!--          <li>-->
<!--            <ul class="list-info overflow-y-auto relative scrollable">-->
<!--            </ul>-->
<!--          </li>-->

<!--          <li class="notice-footer">-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a class="side-panel-toggle" href="javascript:void(0);">-->
<!--          <i class="ti-align-right"></i>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </div>
</div>
