<div class="side-nav">
  <div class="side-nav-inner">
    <div class="side-nav-logo">
      <a href="/">
        <div class="logo logo-dark" style="background-image: url('<%= image_path 'logo/logo' %>')"></div>
        <div class="logo logo-white" style="background-image: url('<%= image_path 'logo/logo' %>')"></div>
      </a>
      <div class="mobile-toggle side-nav-toggle">
        <a href="">
          <i class="ti-arrow-circle-left"></i>
        </a>
      </div>
    </div>
    <ul class="side-nav-menu scrollable">
      <li class="nav-item">
        <a class="mrg-top-30" href="/">
          <span class="icon-holder">
            <i class="ti-home"></i>
          </span>
          <span class="title"><%= t :dashboard %></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= calendar_path %>">
          <span class="icon-holder">
            <i class="ti-calendar"></i>
          </span>
          <span class="title"><%= t :calendar %></span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle">
          <span class="icon-holder">
            <i class="ti-package"></i>
          </span>
          <span class="title"><%= t :views %></span>
          <span class="arrow">
           <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <% RoleCategory.order(:label).each do |role_category| %>
            <li>
              <a href="<%= view_path role_category.label %>">
                <span class="icon-holder">
                  <i class="<%= role_category.icon_class %>"></i>
                </span>
                <span class="title">
                  <%= role_category.short_name %>
                </span>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="nav-item">
        <a href="/">
          <span class="icon-holder">
            <i class="ti-palette"></i>
          </span>
          <span class="title"><%= t :roles_and_goals %></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= profile_path %>">
          <span class="icon-holder">
            <i class="ti-settings"></i>
          </span>
          <span class="title"><%= t :profile_and_settings %></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/">
          <span class="icon-holder">
            <i class="ti-map-alt"></i>
          </span>
          <span class="title"><%= t :prototyping %></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/">
          <span class="icon-holder">
            <i class="ti-cloud"></i>
          </span>
          <span class="title"><%= t :extra %></span>
        </a>
      </li>
    </ul>
  </div>
</div>
