<div id="web-link-<%= link.id %>" class="web-link">
  <div class="card">
    <div class="card-body">
      <i class="fa fa-external-link"></i>
      <div class="card-title">
        <% unless link.favicon.nil? %>
          <img class="favicon" src="data:<%= link.favicon.content_type %>;base64, <%= link.favicon.base64 %>" />
        <% else %>
          <span class="favicon">&nbsp;</span>
        <% end %>
        <span class="title-div">
          <span class="title"><%= link.title %></span>
        </span>
      </div>
      <div class="card-text"><%= link.description %></div>
    </div>
  </div>
</div>

<%= content_for :footer do %>
  <script>
    $(() => {
      $('#web-link-<%= link.id %>').click(() => {
        <% if defined? popout %>
          window.open('<%= link.url %>');
        <% else %>
          location.href = '<%= url_for link %>';
        <% end %>
      });
    });
  </script>
<% end %>
