<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

    <title>View52</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app">
      <div class="layout">
        <% if user_signed_in? %>
          <%= render partial: 'layouts/left_nav' %>
        <% end %>
        <!-- Page Container START -->
        <div class="page-container">

          <% if user_signed_in? %>
            <%= render partial: 'layouts/header' %>
            <%#= render partial: 'layouts/right_nav' %>
          <% end %>

          <!-- Content Wrapper START -->
          <div class="main-content">
            <div class="container-fluid">
              <% if flash[:notice] %>
                <div class="notice text-center"><%= flash[:notice] %></div>
              <% end %>

              <% if flash[:alert] %>
                <div class="alert alert-danger text-center"><%= flash[:alert] %></div>
              <% end %>

              <%= yield %>
            </div>

            <% if user_signed_in? %>
              <%= render partial: 'layouts/main_fab' %>
            <% end %>

          </div>
          <!-- Content Wrapper END -->

          <!-- Footer START -->
          <footer class="content-footer">
            <div class="footer">
              <div class="copyright">
                <span>Copyright © 2018 <b class="text-dark">View52</b>. All rights reserved.</span>
                <span class="go-right">
                  <a href="" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                  <a href="" class="text-gray">Privacy &amp; Policy</a>
                </span>
              </div>
            </div>
          </footer>
          <!-- Footer END -->

        </div>
        <!-- Page Container END -->

      </div>
    </div>

    <% if user_signed_in? %>
      <%= render partial: 'shared/modal', locals: note_modal_options %>
    <% end %>

    <%= javascript_include_tag :app %>
    <%= javascript_include_tag params[:controller] rescue '' %>
    <%= yield :footer %>
  </body>
</html>
